.top {
    position: relative;
    background-color: #E1FF8F;
    background-image: url(img/top-stars.svg);
    background-repeat: no-repeat;
    background-position: calc(100% + 375px) calc(0% - 335px);
    height: 710px;    
}

.header {
    padding-top: 196px;
    

    &__title {
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        padding-bottom: 24px;
        text-align: left;
    }

    &__text {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-bottom: 48px;
    }

    &__text-bold {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
    }

    &__button {
        width: 247px;
        height: 66px;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 550;
        line-height: 141.69%;
        text-align: center;
        color: white;
        cursor: pointer;
    }

    &__button:hover {
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
}