.info {
    background-color: rgb(32, 32, 39);
    height: 100%;
    background-image: url(img/stars-games.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: calc(100% + 150px) calc(0% + 200px);


    &-top {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-top: 194px;
    }

    &__title {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
    }

    &__text {
        width: 788px;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
    }

    .card {
        
        &-number, 
        &-maths,
        &-text,
        &-rock,
        &-quiz, 
        &-color {
            border-radius: 30px;
            box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
            background: rgb(255, 255, 255);
        }

        &-number {
            width: 378px;
            height: 473px;
        }

        &-maths,
        &-quiz {
            width: 378px;
            height: 512px;
        }

        &-text {
            width: 378px;
            height: 314px;  
        }

        &-rock,
        &-color {
            width: 378px;
            height: 551px;
        }

        &__info {
            padding: 32px 32px 36px 32px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &__order {
            border-radius: 52.58px;
            background: rgb(247, 247, 247);
            width: 76px;
            height: 18px;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 110%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 16px 10px 16px;
        }  

        &__order-2 {
            border-radius: 52.58px;
            background: rgb(247, 247, 247);
            width: 79px;
            height: 18px;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 110%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 16px 10px 16px;
        }

        &__title {
            color: rgb(32, 32, 39);
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
        }
    }
}