.line {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    background: rgb(188, 236, 48);
    padding: 27px 49px 27px 49px;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;

    &__box {
        display: flex;
        gap: 51px;
        align-items: center;
        height: 36px;
        animation: scroll 20s linear infinite;
        white-space: nowrap;
    }

    &__item {
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 1px;
        text-align: left;
        text-transform: uppercase;
    }

    &__item::after {
        content: url(img/star-line.svg);
        margin-left: 51px;
        vertical-align: middle;
    }

    &__box::before {
        content: attr(data-duplicate);
        display: flex;
    }
}

@keyframes scroll {
    0% {
        transform: translateX();
    }
    100% {
        transform: translateX(-100%);
    }
}