@media (max-width: 767px) {
    br {
        display: none;
    }
    .game {
        padding-bottom: 48px;
        background-image: none;

        &__title {
            padding: 48px 0;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
        }

        &-box {
            display: flex;
            gap: 24px;
        }

        &__item {
            border-radius: 30px;
            box-shadow: 0px 11.44px 38.34px -6.87px rgba(0, 0, 0, 0.13);
            background: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }

        &__info {
            padding: 29px 29px 33px 29px;
        }

        &__name {
            width: 285px;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            padding-bottom: 16px;
        }

        &__text {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            padding-bottom: 32px;
            width: 249px;
        }

        &__link {
            box-sizing: border-box;
            border: 1px solid rgb(32, 32, 39);
            border-radius: 60px;
            background: rgb(32, 32, 39);
            width: 335px;
            padding: 16px 28px 16px 28px;
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
        }

        &__item-reverse {
            flex-direction: column-reverse;
        }

        &__text-text{
            width: 275px;
        }

        &__text-quiz{
            width: 285px;
        }
    }

    .footer {
        height: 100px;

        &__text {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;  
            padding: 40px;
        }
    }
}