@media (max-width: 767px) {
    br {
        display: none;
    }

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        height: 649px;   
        background-image: url(img/mobile-stars.svg);
        background-repeat: no-repeat;
        background-size: 115%;
        background-position: calc(100% + 125px) calc(0% - 95px);

    }

    .header {
        padding-top: 147px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        &__title {
            width: 262px;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            text-align: center;
        }

        &__text {
            width: 296px;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            padding-bottom: 36px;
        }

        &__text-bold {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
        }

        &__button {
            width: 285px;
            height: 55px;
            font-family: inherit;
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
        }
    }

    .info {
        display: none;
    }

    .game {
        padding-bottom: 48px;
        background-image: none;

        &__title {
            padding: 48px 0;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
        }

        &-box {
            display: flex;
            gap: 24px;
        }

        &__item {
            border-radius: 30px;
            box-shadow: 0px 11.44px 38.34px -6.87px rgba(0, 0, 0, 0.13);
            background: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }

        &__info {
            padding: 29px 29px 33px 29px;
        }

        &__name {
            width: 285px;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            padding-bottom: 16px;
        }

        &__text {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            padding-bottom: 32px;
            width: 249px;
        }

        &__link {
            box-sizing: border-box;
            border: 1px solid rgb(32, 32, 39);
            border-radius: 60px;
            background: rgb(32, 32, 39);
            width: 100%;
            padding: 16px 28px 16px 28px;
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
        }

        &__item-reverse {
            flex-direction: column-reverse;
        }

        &__text-text{
            width: 275px;
        }

        &__text-quiz{
            width: 285px;
        }
    }

    .footer {
        height: 100px;

        &__text {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;  
            padding: 40px;
        }
    }

    .line {
        box-sizing: border-box;
        border: 0.54px solid rgba(255, 255, 255, 0.2);
        padding: 16px 24px 16px 24px;
        height: 51px;

        &__box {
            height: 19px;
            display: flex;
            gap: 27px;
        }

        &__item{
            font-size: 16px;
            font-weight: 700;
            line-height: 110%;
        }

        &__item::after {
            content: url(img/star-line_mobile.svg);
            margin-left: 27px;
            vertical-align: middle;
        }
    

    }
}