@media (max-width: 1024px) {

    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .top {
        height: auto;
        min-height: 710px;
        background-size: 130%;
        background-position: calc(100% + 346px) calc(0% - 180px);
    }

    .info {
        background-size: 107%;
        background-position: calc(100% + 91px) calc(0% + 183px);
    
        &-top {
            padding-top: 94px;
        }

        &__title {
            font-size: 48px;
            line-height: 58px;
            text-align: center;
        }

        &__text {
           width: 100%;
           font-size: 20px;
           line-height: 28px;
           text-align: center;
           padding: 0 20px;
        }
    }
    .card {
        display: flex;
        justify-content: center;

        &-number {
            height: auto;
            font-size: 14px;
        }

        &__container {
            display: flex;
            flex-direction: row;
            gap: 16px;
        }

        &__info {
            padding: 24px;
        }

        &__name {
            font-size: 28px;
            line-height: 36px;
            text-align: center;
        }

        &-number, 
        &-rock,
        &-maths,
        &-quiz,
        &-text, 
        &-color {
            width: 300px;
            height: auto;
        }
    }

    .game {
        &__title {
            font-size: 48px;
            line-height: 58px;
            padding-bottom: 48px;
        }

        &-box {
            gap: 24px;
        }

        &__info {
            padding: 24px;
        }

        &__name {
            font-size: 32px;
            line-height: 28px;
        }

        &__text {
            font-size: 20px;
            line-height: 28px; 
        }

        &__link {
            font-size: 20px;
            padding: 12px 20px;
            width: auto;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .line {
        height: auto;
        padding: 27px 49px 27px 49px;

        &__box {
            gap: 30px;
            animation: scroll 15s linear infinite;
        }

        &__item {
            font-size: 24px;
        }

        &__item::after {
            margin-left: 30px;
        }
    }
}
