*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

@import 'header'