* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  position: relative;
  background-color: #E1FF8F;
  background-image: url(img/stars-right.svg), url(img/stars-left.svg);
  background-size: 75%, 10%;
  background-repeat: no-repeat, no-repeat;
  background-position: calc(100% + 550px) calc(0% - 400px), calc(100% - 1370px) calc(0% + 50px);
  height: 800px;
}

.header {
  padding-top: 196px;
}
.header__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-bottom: 24px;
  text-align: left;
}
.header__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 48px;
}
.header__text-bold {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.header__button {
  width: 247px;
  height: 66px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 550;
  line-height: 141.69%;
  text-align: center;
  color: white;
  cursor: pointer;
}
.header__button:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.info {
  background-color: rgb(32, 32, 39);
  height: 100%;
  background-image: url(img/stars-games.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: calc(100% + 150px) calc(0% + 200px);
}
.info-top {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 194px;
}
.info__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}
.info__text {
  width: 788px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.info .card-number, .info .card-maths, .info .card-text, .info .card-rock, .info .card-quiz, .info .card-color {
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
}
.info .card-number {
  width: 378px;
  height: 473px;
}
.info .card-maths, .info .card-quiz {
  width: 378px;
  height: 512px;
}
.info .card-text {
  width: 378px;
  height: 314px;
}
.info .card-rock, .info .card-color {
  width: 378px;
  height: 551px;
}
.info .card__info {
  padding: 32px 32px 36px 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.info .card__order {
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  width: 76px;
  height: 18px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 10px 16px;
}
.info .card__order-2 {
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  width: 79px;
  height: 18px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 10px 16px;
}
.info .card__title {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}/*# sourceMappingURL=style.css.map */