*{
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.footer {
    background: rgb(189, 237, 53);
    height: 150px;

    &__text {
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
        padding-top: 61px;
        text-align: center;
    }
}

@import 'header';
@import 'info';
@import 'mobile';
@import 'games';
@import 'mobile-2';